<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="cakebooking" content="width=device-width, initial-scale=1.0">
        <script src="../static/bootstrap.min.css"></script>
        <script src="../static/bootstrap.bundle.min.js"></script>
        <script src="../static/jquery.min.js"></script> 
        <link rel= "stylesheet" href="../static/main.css">
        <script src = "../static/main_js.js"></script>
        <link rel= "stylesheet" href="../static/book.css">
        <title>HK_Electric</title>
    </head>
    <body>
        
        <header class="header">
            <div>
                <img src="../static/image/HK_Electric.png" width="100px" height="50px">
                <a href="/home"><h1 class="logo">HK Electric</h1></a>
            </div>
            <div>
                <button id="meun" class="meun" value="off"></button><a href="./"><button id="log" class="log"></button></a>
            </div>
        </header>
        <section class="menulist">
            <ul>
				<li ><a href="./accbill"> latest Bill</a></li>
				<li><a href="./accupdate">update information</a></li>	
              </ul>
        </section>
        <section class="showcase">
			<div class="page">
                <fieldset class="sign">
                    <legend>update</legend>
                    <form action="http://localhost:8000/accchange" method="POST">
                        <input type="radio" id="company" name="accType" value="company"><label for="company">company</label>
                        <input type="radio" id="address" name="accType" value="address"><label for="address">address</label>
                        <input type="radio" id="pwd" name="accType" value="pwd"><label for="pwd">password</label>
                        <input type="text" name="companyName" id="cn">
                        <input type="text" name="addressname" id="an">
                        <p id="pwdc">
                            old password:<input type="password" name="opwd">
                            <br>new password:<input type="password" name="npwd">
                        </p>
                        
                        <p><input type="submit" value="update" id="sub" ></p>
                    </form>
			</div>
			</section>
	
        <script>
            var meunshow = true;
            $(document).ready(function(){
                $("#meun").click(function(){
                    if(meunshow == true){
                    $('.showcase').animate({left:'250px'});
                    meunshow = false;}
                    else{
                    $('.showcase').animate({left:'0px'});
                      meunshow = true;
                }});
                $("[href]").click(function(){
                    $('.showcase').animate({left:'0px'});
                    meunshow = true;
                });
                $('#cn').hide()
                $('#an').hide()
                $('#pwdc').hide()
            
            $('input[name="accType"]').click(function(){       
        if($('input[name="accType"]:checked').val() =="address"){
            $('#cn').hide()
            $('#an').show()
            $('#pwdc').hide()
            
        };
        if($('input[name="accType"]:checked').val() =="company"){
            $('#cn').show()
            $('#an').hide()
            $('#pwdc').hide()
            
        };
        if($('input[name="accType"]:checked').val() =="pwd"){
            $('#cn').hide()
            $('#an').hide()
            $('#pwdc').show()

        };
    });});
        </script>
    </html>