{% extends 'layout.html' %} 
{% block body %}
        <section class="showcase">
        <div class="page">
            <ul>
                <li ><a href="./singin"> new customer</a></li>
                <li><a href="./search">search</a></li>
                <li><a href="./record">update record</a></li>
                <li><a href="./datebill">Search by date</a></li>
                <li><a href="./update">update information</a></li>
                <li><a href="./ontime">update ontime</a></li>
            </ul>
        </div>
        </section>

{%endblock%}